.menu {
    border-radius: var(--small-radius);
    overflow: hidden;
    user-select: none;
    width: 300px;
}

.menuItem {
    padding: 4px 20px;
    border-bottom: 1px solid var(--orange2-color);
    background-color: var(--yellow-color);
    height: var(--medium-height);
    color: var(--green-color);

    a {
        color: inherit;
        font-size: 16px;
        line-height: 32px;
        text-decoration: none;
        display: inline-block;
        width: 100%;
    }

    &.active,
    &:hover {
        background-color: var(--orange2-color);
    }
}

.subMenu {
    padding-left: 40px;
}

.open {
    position: absolute;
    left: 0;
    bottom: 20px;
}
