:root {
    --white-color: #FFFFFF;

    --red-color: #E07A5F;
    --red2-color: #E07A5FAA;
    --red3-color: #E07A5F66;
    --red4-color: #E07A5F22;

    --orange-color: #F2CC8F;
    --orange2-color: #F2CC8FAA;
    --orange3-color: #F2CC8F66;
    --orange4-color: #F2CC8F22;

    --yellow-color: #F4F1DE;
    --yellow2-color: #F4F1DEAA;
    --yellow3-color: #F4F1DE66;
    --yellow4-color: #F4F1DE22;

    --green-color: #81B29A;
    --green2-color: #81B29AAA;
    --green3-color: #81B29A66;
    --green4-color: #81B29A22;

    --cyan-color: #3D405B;
    --cyan2-color: #3D405BAA;
    --cyan3-color: #3D405B66;
    --cyan4-color: #3D405B22;

    --blue-color: #557A95;
    --blue2-color: #557A95AA;
    --blue3-color: #557A9566;
    --blue4-color: #557A9522;

    --purple-color: #B5838D;
    --purple2-color: #B5838DAA;
    --purple3-color: #B5838D66;
    --purple4-color: #B5838D22;
}