@import 'github-markdown-css';
@import 'highlight.js/styles/github.css';

@import './color.scss';
@import './border.scss';
@import './inline.scss';

:root {
    --small-height: 24px;
    --medium-height: 32px;
    --large-height: 40px;
    --row-height: 60px;
}

body,
html {
    margin: 0;
    background-color: var(--yellow4-color);
}

.markdown-body {
    background-color: var(--green4-color) !important;
    padding: 20px;
    height: 100%;
    overflow: auto;
}