@use 'github-markdown-css';
@use 'highlight.js/styles/github.css';

@use './color.scss';
@use './border.scss';
@use './inline.scss';
@use './tab.scss';
@use './scroll.scss';

:root {
    --small-height: 24px;
    --medium-height: 32px;
    --large-height: 40px;
    --row-height: 60px;
}

body,
html {
    margin: 0;
    background-color: var(--yellow4-color);
}

.markdown-body {
    background-color: var(--green4-color) !important;
    padding: 20px;
    height: calc(100vh - 160px);
    overflow: auto;
}