.mainLayout {
    background-color: var(--yellow4-color);
}

.header {
    height: var(--row-height);
    color: var(--blue-color);
    background-color: var(--red4-color);
    line-height: 60px;
    font-size: 20px;
    padding: 0 20px;
    font-weight: 600;
}